.card{
    width: 300px;
    height: 400px;
    background-color: aliceblue;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.lista{
    width: 400px;
    background-color: rgb(138, 90, 186);
    padding: 30px;
}