*{
    margin:0px;
    padding:0px;
}


header div{
    background: #D1891C;
    padding:2px 0 2px 8px;

}
header h1{
    background-color:#00669F;
    padding:25px 0 25px 20px;
    color:white;
}

section{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

section article{
    position: relative;            /*En relativo ya que la imagen es absoluta sin el relativo la imagen se guia por el body, cuando debe guiarse por la caja*/
    border-radius: 16px 16px 0 0;
    margin: 100px 0;
    width: 300px;
    background-color:#F3F3F3;
    text-align: center;
}

article div{
    height: 190px;
    background: url(../img/fondo.png);
}

.corazon{
    position:absolute;
    left:15px;
    top:10px;
}
article img{
    border-radius: 50%;
    position:absolute;           /*debe ser abs para que no ocupe su espacio anterior y que se vea el texto, sino cambia a relativo y ver como queda*/  
    top:148px; 
    left:90px; 
}

article h2{
    font-size:24px;
    margin-top:80px;
}

article p{
    text-align: left;
    padding: 15px;
}


article button{
    padding:10px 30px;
    margin: 25px;
    background-color:#00669F;
    border: none;
    margin-bottom:25px;
    color:white;
}

.fondomm{
    height:190px;
    background: url(../img/mujermaravillafondo.png);
    border-radius: 16px 16px 0 0;
}

.imgmm{
    width:115px;
}

.fondosm{
    background: url(../img/supermanfondo.png);
    border-radius: 16px 16px 0 0;
}

.fondohq{
    background: url(../img/hqfondo.png);
    border-radius: 16px 16px 0 0;
}

footer{
    background-color:#00669F;
    color: white;
    padding:23px 0 0 0;
    text-align:center;
}

footer img{
    position:relative;
    height:40px;
    left:45%;
    bottom:20px;  
}